* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray: hsla(0, 0%, 100%, .466);
}
.dark:not(.nav) {
    background-color: #161A42;
}


ul {
    list-style: none;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    text-transform: capitalize;
}
.nav_container, .nav_menu, .account, .title, .show_products, .top_part, .copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container {
    width: 90%;
    margin: auto;
    font-family: 'poppins', 'sans serif';
}
.title h1 {
    color: white;
}
.title a {
    color: var(--gray);
    text-decoration: underline;
}


.dark .create_sell .boxes .box h3, .dark .explore .box .title, .dark .explore .box p {
    color: white;
}
.dark .create_sell .boxes .box p, .dark .explore .box>p:first-of-type, .dark .explore .acc_address span {
    color: var(--gray);
}
.light .landing, .light h1, .light .create_sell .boxes .box, .light .show_products button, .light .box p {
    color: #161A42;
}
.dark .top_newest .box {
    background-color: white;
}
.light .top_newest .box {
    background-color: #161A42;
}



nav {
    background-color: #161A42;
    box-shadow: 2px 5px #12121287;
}
.nav_container {
    width: 75%;
    margin: auto;
    padding: 5px;
}
.nav_menu {
    flex-basis: 400px;
    text-transform: capitalize;
}
.nav_menu img {
    width: 110px;
}
.nav_menu li {
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.nav_menu li a {
    color: white;
}
.nav_menu .active, .nav_menu li:not(:first-of-type):hover {
    background-color: rgb(17 24 39 / 1);
}
nav .account img {
    width: 30px;
}
.account {
    flex-basis: 200px;
}
.profile {
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-left: 1px solid var(--gray);
}
.profile .details {
    margin-left: 10px;
}
.profile .details p {
    color: wheat;
}
.profile .details span {
    color: gray;
}



.dark .landing {
    color: white;
}
.landing {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.landing h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}
.landing .btns {
    margin-top: 40px;
}
.light .landing .btns a {
    background-color: #161A42;
}
.landing .btns a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-transform: capitalize;
    border-radius: 10px;
    transition: transform .7s ease;
    -webkit-border-radius: 15px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: transform .7s ease;
    -moz-transition: transform .7s ease;
    -ms-transition: transform .7s ease;
    -o-transition: transform .7s ease;
}
.landing .btns a:hover {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}
.landing .btns a.active {
    background: linear-gradient(180deg,#3d5ffd,#7f55ec);
}
.landing .btns a:not(.active) {
    border: 1px solid var(--gray);
    margin-left: 10px;
}


.top_newest .boxes {
    display: grid;
    text-align: center;
    gap: 50px;
    margin-top: 20px;
}
.top_newest .boxes h2 {
    color: white;
}
.top_newest .box {
    background-image: url(images/top.7ee710bc.png);
    background-size: cover;
    padding: 20px 0;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.top_newest .box p {
    margin: 15px 0;
    font-weight: 600;
}
.top_newest .box img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.box .btn {
    width: fit-content;
    margin: auto;
    padding: 5px 10px;
    border-radius: 15px;
    background: linear-gradient(180deg,#3d5ffd,#7f55ec);
    box-shadow: 0 2px 5px #12121287;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.box .btn svg {
    color: yellow;
}
.box .btn a {
    color: white;
    text-transform: capitalize;
}


.create_sell {
    margin-top: 100px;
    font-weight: 300;
}
.create_sell .boxes {
    display: grid;
    gap: 80px;
    margin-top: 50px;
}
.create_sell .boxes .box svg {
    color: #8a2be2;
}
.create_sell .boxes .box h3 {
    margin: 10px 0;
}
.create_sell .boxes .box p {
    font-size: 14px;
    line-height: 1.8;
}

.explore {
    margin-top: 100px;
}
.explore .show_products {
    margin: 20px 0;
    padding: 0 40px;    
}
.explore .show_products button {
    cursor: pointer;
    color: var(--gray);
    background-color: transparent;
    border: 1px solid #585858;
    border-radius: 30px;
    padding: 10px 20px;
    margin-left: 2px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.explore .show_products button.active, .explore .show_products button:hover {
    color: white;
    background-color: #ff457d;
    border-color: #ff457d;
}
.explore .sort select {
    padding: 10px;
    width: 150px;
    background-color: #161A42;
    border-radius: 10px;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
select option {
    background-color: #161A42;
}
.explore .boxes {
    display: grid;
    gap: 20px;
    padding: 0 40px;
}
.explore .box {
    text-align: left;
    padding: 10px;
    box-shadow: 0 2px 5px #12121287;
    border-radius: 20px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: normal;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.explore .box>img {
    width: 100%;
    margin-bottom: 10px;
}
.explore .box>p:first-of-type, .explore .acc_address span {
    font-size: 12px;
}
.explore .box .title h3 {
    font-weight: 500;
}
.explore .box .title svg {
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 50%;
    border: 1px solid #2e357b;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.explore .nft {
    margin: 10px 0 15px;
    display: flex;
    align-items: center;
    color: #3DB6CE;
}
.explore .nft img {
    width: 25px;
    margin-right: 10px;
}
.explore .acc_address {
    margin: 20px 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}
.dark .explore .acc_address {
    border-color: var(--gray);
}
.light .explore .acc_address {
    border-color: #161A42;
}


footer {
    background-color: #2d3582;
    color: white;
    margin-top: 100px;
    padding: 70px 40px;
}
.top_part img {
    max-width: 120px;
}
.top_part .boxes {
    display: grid;
    gap: 10px;
}
.top_part ul li:first-of-type {
    font-weight: bold;
}
.top_part ul li:not(:first-of-type) {
    cursor: pointer;
    margin-top: 15px;
    color: var(--gray);
}
.top_part ul li:not(:first-of-type):hover {
    text-decoration: underline;
}
.copyright {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid var(--gray);
}
.copyright a {
    color: white;
}


@media (max-width: 768px) {
    .nav_container, .title:not(.explore .box .title), .show_products {
        flex-direction: column;
    }
    .nav_menu, .account {
        flex-basis: content;
    }
    .container {
        text-align: center;
    }
    .boxes {
        grid-template-columns: repeat(1, minmax(0, 1fr));

    }
    .sort, .show_products button:last-child {
        margin-top: 10px;
    }
}
@media (min-width: 768px), (max-width: 768px) {
    .top_part {
        flex-direction: column;
    }
    .top_part div {
        flex-basis: content;
    }
    .top_part .boxes {
        margin-top: 20px;
    }
}
@media (min-width: 769px) {
    .top_newest .boxes, .top_part .boxes {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .top_newest .boxes {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .create_sell .boxes {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .explore .boxes {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media (min-width: 1200px) {
    .explore .boxes {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .top_part {
        flex-direction: row;
        align-items: center;
    }
    .top_part .boxes {
        flex-basis: 600px;
        margin-top: 0;
    }
    .top_part div:first-child {
        flex-basis: 500px;
    }
}